[submodule "libmemetendo/tests/FuzzARM"]
	path = libmemetendo/tests/fuzz_arm/FuzzARM
	url = https://github.com/DenSinH/FuzzARM
[submodule "libmemetendo/tests/gba-tests"]
	path = libmemetendo/tests/jsmolka/gba-tests
	url = https://github.com/jsmolka/gba-tests
[submodule "armwrestler-gba-fixed"]
	path = libmemetendo/tests/armwrestler_gba/armwrestler-gba-fixed
	url = https://github.com/destoer/armwrestler-gba-fixed
[submodule "libmemetendo/tests/BIOS"]
	path = libmemetendo/tests/Cult-of-GBA-BIOS
	url = https://github.com/Cult-of-GBA/BIOS.git
